/* Start background.scss */
@import "../../_variables.scss";

.background-wrapper {
    position: absolute;
    overflow: initial;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    > div {
        opacity: 0.2;
    }
}

/* End background.scss */