/* Start content.scss */
@import '../../_variables.scss';

.content {
  height: calc(100vh - 30vh);
  border-top: 3px solid $hackerText;
  font-size: 1.2rem;
  position: relative;
  top: 7.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > .hacker-border {
    margin-top: 2%;
    padding: 8px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    border: 3px solid $hackerText;

    &:first-child, &:last-child {
      margin-left: 1%;
      margin-right: 1%;
    }

    > .subtitle {
      width: 100%;
      margin-top: 0px;
      font-weight: 800;
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      > p {
        margin: 0;
        margin-bottom: 2%;
        width: initial;
      }

      > p.selected {
        position: relative;
        padding-left: 7.5%;
        font-weight: 800;
        color: $hackerSelected;
      }

      > p.selected::before {
        position: absolute;
        left: 0;
        padding-left: 10px;
        content: "> ";
      }
    }
  }
}

.reveal { opacity: 0%; pointer-events: none; } // Prevent clicking during loadin animation
/* End content.scss */