/* Start title.scss */
.title-container {
  position: relative;
  top: 45vh;
  font-size: 8vw;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  top: 35%;
  position: absolute;
  > .title-text > div {
    font-weight: 400;
    display: inline-block;
    margin: 0px;
  }
}
/* End title.scss */