/* Begin _variables.scss */
$fontFamily: "JetBrains Mono", monospace;

// Hackery colors
$hackerBackground: #020f01;
$hackerText: #16b10e;
$hackerSelected: #61ee55;

$hackerTextDarker: #0e6b0e;
$hackerLight: #649568;
$hackerWhite: #9ccc9c;
$hackerDarkGreen: #2b5329;
/* End _variables.scss */