/* Start app.scss */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import './_variables.scss';


:root {
  color: $hackerText;
  background-color: $hackerBackground;

  font-family: $fontFamily;
  line-height: 1.5;
  font-weight: 200;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100vh;
  width: 100vw;
  &::-webkit-scrollbar {
    display:none
  }
}

.invisible {
  opacity: 0%; 
}

.invisible.full {
  display: none !important;
}

/* End app.scss */